fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.4

langchain-groq==0.1.9
langchain-google-genai==1.0.10

pinecone==5.0.1

PyPDF

python-dotenv==1.0.1
pydantic==2.8.2
requests==2.32.3
tqdm==4.66.5
loguru==0.7.2